<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Preço da diária" labelPlacement="floating" [(ngModel)]="diaria">
    </ion-input>
  </ion-item>

  <ion-range aria-label="Qtd de dias" min="0" max="100" [pin]="true"
   [pinFormatter]="pinFormatter" [(ngModel)]="dias"></ion-range>


  <ion-button expand="block" (click)="pagar()">Pagar</ion-button>
</ion-content>
