<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Valor da diária{{diaria}}</ion-label><br>
  <ion-label>Quantidade de dias{{dias}}</ion-label><br>
  <ion-label>Valor final: {{pagamento}}</ion-label><br>

  <ion-button expand="block" color="danger" routerLink="/">Corrigir</ion-button>
  <ion-button expand="block" color="success" (click)="confirmarReserva()">Confirmar</ion-button>
</ion-content>
