<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>descriptografar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label>{{encryptedMessage}}</ion-label>
  <ion-label>{{encryptedMessage1}}</ion-label>
  <ion-label>{{encryptedMessage2}}</ion-label>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="encryptedMessage" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="encryptedMessage1" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nota privada</ion-label>
    <ion-input [(ngModel)]="encryptedMessage2" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Chave</ion-label>
    <ion-input [(ngModel)]="secretKey" type="text"></ion-input>
  </ion-item>


  <ion-button expand="full" (click)="decryptMessage()">Descriptografar</ion-button>

  <ion-label>{{decryptedMessage}}</ion-label>
  <ion-label>{{decryptedMessage1}}</ion-label>
  <ion-label>{{decryptedMessage2}}</ion-label>
</ion-content>
