<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>descriptografar</ion-title>
    <ion-buttons slot="start" defaultHref="home">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="encryptedMessage" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="encryptedMessage1" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nota privada</ion-label>
    <ion-input [(ngModel)]="encryptedMessage2" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Chave</ion-label>
    <ion-input [(ngModel)]="secretKey" type="text"></ion-input>
  </ion-item>


  <ion-button expand="full" (click)="decryptMessage()">Descriptografar</ion-button>

  <ion-item>
    <ion-label>Nome: </ion-label>
    <ion-textarea [(ngModel)]="decryptedMessage" readonly></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Email: </ion-label>
    <ion-textarea [(ngModel)]="decryptedMessage1" readonly></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Nota: </ion-label>
    <ion-textarea [(ngModel)]="decryptedMessage2" readonly></ion-textarea>
  </ion-item>
</ion-content>
