<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Média de temperatura: {{medTemp}}ºC</ion-label><br>
  <ion-label>{{milho}}</ion-label><br>
  <ion-label>{{cenoura}}</ion-label><br>
  <ion-label>{{melancia}}</ion-label><br>
  <ion-label>{{cebola}}</ion-label><br>
  <ion-label>{{vagem}}</ion-label><br>
  <ion-label>{{arroz}}</ion-label><br>
  <ion-label>{{gengibre}}</ion-label><br>
  <ion-label>{{lixia}}</ion-label><br>
  <ion-label>{{beterraba}}</ion-label><br>
  <ion-label>{{alcachofra}}</ion-label><br>
</ion-content>
