<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ac cripto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nota privada</ion-label>
    <ion-input [(ngModel)]="nota" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Chave</ion-label>
    <ion-input [(ngModel)]="secretKey" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="encryptMessage()">Armazenar dados</ion-button>
  <ion-button expand="full" (click)="proximaPag()">Próxima página</ion-button>

  <ion-item>
    <ion-label>Nota criptografada</ion-label>
    <ion-textarea [(ngModel)]="encryptedMessage" readonly></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Email criptografada</ion-label>
    <ion-textarea [(ngModel)]="encryptedMessage1" readonly></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Nota criptografada</ion-label>
    <ion-textarea [(ngModel)]="encryptedMessage2" readonly></ion-textarea>
  </ion-item>

</ion-content>
